.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #ba0001;
  }

  .header__logo {
    width: 50px;
    object-fit: contain; 
    margin: 0px;
    margin-top: 0px;
    color: #ba0001;
    size: 7000px;
  }
  .header__logo2 {
    
    width: 80px;
    height: 60px;
    /* object-fit: contain; */
    margin: 0px;
    margin-top: 0px;
    color: #ba0001;
    size: 7000px;
    margin-left: 40px;
  }
  
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    padding-left: 50px;
    border-color: black;
    border-radius: 10px;
  }
  
  .header__searchInput {
    height: 12px;
    padding: 10px;
    /* border: none;*/
    border: solid;
    width: 100%;
    border-color: black;
    border-radius: 10px;
  }
  
  .header__logo2 {
    padding: 20px;
    height: 22px !important;
    background-color: white;
  }
  
  .header__optionLineOne {
    font-size: 10px;
    color: #ba0001;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
    color: #ba0001;
  }
  
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: #ba0001;
  }
  
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }

  