.checkout {
    display: flex;
    padding: 30px;
    background-color: white;
    height: max-content;
  }
  
  .checkout__ad {
    display: flex;
    height: 200px;
    width: 100%;
    margin-bottom: 0px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  
  .checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }